em A Dingle Accommodations Guide by (the irish travel guru and Mother of the Bride) Mab:
br
br
strong General Tips:
ul
    li B and B's and smaller guesthouses and inns which include breakfast with the rate are definitely the way to go (stay!) in Ireland. Hotels in Dingle are few and they typically don't offer the owner/host experience. If you feel the most comfortable booking a hotel I would definitely stay away from Dingle Skellig Hotel and Peninsula Spa. I walked by it in 2010 and it didn’t have much character.
    li <a href="http://www.tripadvisor.com" target="_blank">TripAdvisor and <a href="http://www.bandbireland.com/" target="_blank">B & B Ireland</a> are great resources as is Rick Steve's guide.
    li One important amenity to decide on is location. If you want to walk home from the pub you will want to be in town. Be aware though that during the summer there will be action in town and it will run late so if you are not planning to be part of that action maybe a little outside of town would be quieter. Remember that the wedding reception venue is 5 minute drive east of town center but if you are driving nothing is that far even if you find your ideal spot west of town, just slow going on tiny, windy roads. Picturesque miles, not speedy ones.
    li If you are staying 3 nights or more you might want to look into self catering (although 3 or more nights minimum stays are fewer during peak summer months) - housing that is good for larger groups and cooking your own meals. Sites for searching : <a href="http://vrbo.com" target="_blank">VRBO</a>, TripAdvisor and <a href="http://www.ireland.com/en-us/" target="_blank">Ireland's official tourism website</a>
    li “Holiday house" usually means cookie cutouts side by side. Not a worthwhile experience for all the miles you are putting into journey to Dingle.

strong A few places to get you started:
ul
    li There are good budget options - <a href="http://dinglegatehostel.com/">Dingle Gate Hostel</a>,  <a href="http://www.grapevinedingle.com/" target="_blank">The Grapevine Hostel</a>, and a not-a-hostel: <a href="http://dinglelastcottage.page.tl/About-Us.htm">Last Cottage B & B</a>. But the mid-range options aren't that much more and there are dozens of those. I am not highlighting where I stayed before because it was nice but not great and you can find those on your own and with your own combo of desired amenities.
    li <a href="http://homepage.eircom.net/~captigh/" target="_blank">The Captain's House</a> is old school, in town and offers suites up to 3 bedrooms.
    li <a href="http://www.emlaghlodge.com/#home" target="_blank">Emlagh Lodge B & B</a> is new build, 5 minute stroll to town, gorgeous views and mid-range.
    li <a href="http://www.tripadvisor.com/Hotels-g211861-c2-Dingle_Dingle_Peninsula_County_Kerry-Hotels.html" target="_blank">Top 10 on TripAdvisor</a> all look great including the reception venue, Ballintaggert, which is a nice place to stay but it is full at the time of the wedding with Sarah, Ansel and their immediate families. Several of the top 10 are luxury accommodation ($$$) but you can also search by price, of course.

p That should get you started! Enjoy the search for your little piece of heaven.
