div.c-card
    div.c-card__front Save the date!
    div.c-card__back
        div.c-card__back__content(ng-view)
        div.c-card__back__address
            - var nav = {'About': '#/about', 'Accomodations': '#/accomodations', 'Party': '#/party', 'Story': '#/story', 'Tips': '#/tips', 'Wedding': '#/wedding', 'Welcome': '#/welcome'}
            ul.c-nav
                each path, name in nav
                    li.c-nav__item(ng-class='{"is-selected": $window.location.hash === "#{path}"}')
                        a(href=path) #{name}
