em A collection of tips submitted by the Sutin-Nulty-Vance-Smart family:

ul
    li Don't forget the outlet adapter! (or a voltage adapter if you plan on bringing a hair dryer or straightener)
    li Watch some YouTube videos about driving on the other side of the road! Learn to love roundabouts!
    li Bring warm clothes (including to sleep in as beds can be damp) and hiking shoes that can get muddy.
    li Get ready to ditch the coffee and embrace tea!
    li Put your best manual transmission driver at the wheel. Automatic transmission rental rates are much higher. Remember you will be changing gears with your left hand - an advantage for left handed people.
    li Check to see if the credit card you will be using covers car rental insurance in Ireland. If not, get another one that does. This is not to terrify you but just to give you a healthy heads up for the crazy fun ahead.
    li If you start up a conversation you might be there awhile. Don't be in a hurry. Listening to the stories in an Irish accent accent is heavenly.
    li Cool weather, even in the summer. Beaches are beautiful on the west coast and the Irish swim and surf. Brrr. Gazing is so much warmer but give it a go if you dare. 
    li Kids are welcome in pubs, so if someone tugs at your leg in a pub, it might not be a leprechaun, but if it is, don't ask to see his pot of gold.
    li Irish soda bread is one of the great breads of the world. Keep an eye out for bakeries selling it fresh and rip off a piece to chew as soon as you have made your purchase.
    li Vegetarians and Gluten Free people really can’t go wrong ordering the house vegetable soup when in a pub.
    li Familiarize yourself with the Irish cultural legends that constantly appear in travel guides and general conversation - e.g.  James Joyce, WB Yeats, Maureen O'Hara, Sinead O'Connor, Samuel Beckett, Oscar Wilde. It helps to know what the IRA is and some of the history behind Ireland's independence - Wikipedia will do. 
    li You can never bring too many ziploc bags.
    li Binge watch Father Ted on Hulu to get a taste of bad Irish humor.
