article
    img(src='/dist/img/BrennanTami.jpg')
    h4 Brennan Vance: Officiant
    p Bride’s big brother. Brilliant, wise, soulful, silly, and the best instrumental sound effects in the annual christmas family car band.
    h4 Tami Vance: Bridesmaid
    p Bride’s sister in-law. A bright light, brave, sweet, sassy, an expert on the psyche and the art of cozy.
article
    img(src='/dist/img/Hannah.jpg')
    h4 Hannah Giese: Bridesmaid
    p Loyal, witty, animal lover, and historian of all the best bygone days and all your friendships’ best and most poignant moments.
article
    img(src='/dist/img/Michelle.jpg')
    h4 Michelle Reichelt: Bridesmaid
    p Fierce, poised, leader who will both defend you and laugh with you with all her heart.
article
    img(src='/dist/img/Ceallaigh.jpg')
    h4 Ceallaigh Anderson-Smart: Bridesmaid
    p Bride’s big sister. Bold, warrior, faithful, passionate and champion of love in the darkness.
article
    img(src='/dist/img/JuniaWill.jpg')
    h4 Junia Anderson: Flower Princess
    p Bride’s niece. Joyous, sparkling, snuggly star who knows that there is no such thing as too much color or shine.
    h4 Will Anderson: Junior Groomsman
    p Bride’s nephew. Wild, full of heart, full of laughter and the life of the dance party.
article
    img(src='/dist/img/BabyVance.jpg')
    h4 Baby Vance: Ring Baby
    p Bride’s future nephew. Made of love and currently the size of a cauliflower.
article
    img(src='/dist/img/Tony.jpg')
    h4 Tony Grosinger: Best Man
    p Honest, passionate, charming robot. Full of ideas, and secretly powered by a big squishy sweet heart.
article
    img(src='/dist/img/Nolan.jpg')
    h4 Nolan Santosa: Groomsman
    p Groom’s little brother. Kind, observant, listener who works hard and plays hard.
article
    img(src='/dist/img/Alex.jpg')
    h4 Alex Birmingham: Groomsman
    p Loving, funny, optimist who can’t help but share everything that makes him happy.
article
    img(src='/dist/img/Ryan.jpg')
    h4 Ryan Kosai: Groomsman
    p Loyal, ambitious, leader who will watch your back and push you to be the best you can.
