@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon';

* { box-sizing: border-box; }
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
    font-family: 'Marck Script', sans-serif;
    font-size: 18px;
    overflow: hidden;
}

body {
    background-color: white;
    overflow: hidden;
    perspective: 2000px;
}

$z-background: 1;
.c-background {
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    position: absolute;
    transition: opacity 0.75s;
    transform: translateZ(0);
    z-index: $z-background;

    &.is-faded {
        opacity: 0.5;
    }
}

$headline-font: 'Josefin Slab', sans-serif;
$headline-position: 20px;
$headline-size: 82px;
$z-headline: $z-background + 1;
.c-headline {
    $shadow: 0 0 50px black;
    width: 100%;
    color: white;
    font-family: $headline-font;
    font-weight: 300;
    left: 0;
    line-height: $headline-size;
    margin: 0;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.75s;
    font-size: $headline-size;
    text-shadow: $shadow, $shadow;
    top: $headline-position;
    z-index: $z-headline;

    &.is-faded {
        opacity: 0;
    }
}


.c-headline--subhead {
    width: 100%;
    font-size: $headline-size - 20px;
    top: $headline-position + $headline-size;
}

$card-shadow: -30px 0 40px transparentize(black, 0.6);
$card-fade: 0 0 0 1000px transparentize(white, 0.6) inset;
$card-select: $card-shadow, $card-fade;
@include keyframes(pulse) {
    from  {
        box-shadow: initial;
    }
    50%  {
        box-shadow: $card-select;
    }
    to  {
        box-shadow: initial;
    }
}

$z-card: $z-headline + 1;
.c-card {
    position: absolute;
    transform-style: preserve-3d;
    z-index: $z-card;
}

    .c-card__front,
    .c-card__back {
        @include backface-visibility(hidden);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 15px/30px;
        height: 100%;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

    .c-card__front {
        @include animation-name(pulse);
        @include animation-iteration-count(infinite);
        @include animation-delay(5s);
        @include animation-duration(2s);
        background-image: url(/dist/img/front.png);
        cursor: pointer;
        color: white;
        font-size: 4em;
        padding-top: 30%;
        text-align: center;
        transition: all 0.15s;

        &:hover {
            @include animation-name(none);
            box-shadow: $card-select;
        }
    }

    $ink-color: #343817;
    .c-card__back {
        background-image: url(/dist/img/back.png);
        color: $ink-color;
        transform: rotateY(180deg);
    }

        $content-height: 74%;
        $content-width: 68.5%;
        $padding: 20px;
        .c-card__back__content {
            height: $content-height;
            left: 0;
            overflow: auto;
            padding: $padding;
            position: absolute;
            top: 100% - $content-height;
            width: $content-width;
        }

        .c-card__back__address {
            left: $content-width;
            padding: $padding;
            position: absolute;
            top: 35%;
            width: 100% - $content-width;
        }

.c-nav {
    list-style: circle;
    margin: 0;
    padding: 0;
    padding-left: 10%;
}

    .c-nav__item {
        font-family: $headline-font;
        font-size: 22px;
        line-height: 40px;
        text-transform: uppercase;

        &.is-selected,
        &:hover {
            font-weight: bold;
            list-style: disc;
        }

        a {
            color: $ink-color;
            text-decoration: none;
        }
    }
